@charset "utf-8";
$base-color: #0085be;
$hover-color: #019fe2;
$line-color: #47c7fd;
html{
	font-size: 10px;
}
body{
	font-size: 1.6rem;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", Meiryo, メイリオ, YuGothic, 游ゴシック, Helvetica, Arial, sans-serif;
	@media(max-width:$screen-xs-max){
		font-size: 1.4rem;
	}
}
.container-flex{
	display: flex;
	.main_content{
		width:80%;
		padding-right: 5%;
	}
	.content_side{
		width: 20%;
	}
	@media(max-width:$screen-xs-max){
		display: block;
		.main_content{
			width: 100%;
			padding-right: 0;
		}
		.content_side{
			width: 100%;
		}
	}
}
.screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

a{
	text-decoration: none;
	color: $base-color;
	&:hover{
		color: $hover-color;
		transition: color .15s;
	}
	
}