@charset "utf-8";
.breadcrumb {
    background: #eee;
    padding: 0.5rem 0;
    margin-bottom: 20px;
}
.bread_ul{
	list-style: none;
	overflow: hidden;
    margin: 0;
	li{
		float: left;
		margin-right: 10px;
		&:not(:first-child){
			&:before{
			    content: "\f0a4";
			    font-family: FontAwesome;
			    margin-right: 10px;
		    }
			
		}
		
	}
}