@charset "utf-8";
.comments-area {
    border: solid 1px #eee;
    padding: 5px;
    margin: 30px 0;
}
.comment-respond {
    background-color: #f7f6f6;
    overflow: hidden;
    padding: 5px;
}
.comment-reply-title {
    font-size: 1.7em;
    padding-left: 20px;
    &:before{
	    content: "\f0e5";
	    font-family: FontAwesome;
    }
}
span.required {
    color: red;
}


//コメントあった場合
.comments-title{
	font-size: 2rem;
}
.comment-list{
	border: solid 1px #f0f8ff;
}
li.comment{
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 5px;
    &.parent{
	    padding-bottom: 20px;
	    border-bottom: solid 1px #ccc;
    }
}
ol.children li.comment{
	padding: 0;
}
.comment-body{
	border: dotted 2px #ccc;
    margin-bottom: 10px;
    padding: 5px;
	p{
		border: solid 2px #eee;
		background-color: #fff;
		padding: 20px;
	}
}
.comment-author{
	
}
.comment-meta{
	
}
.reply{
}
.comment-reply-link,.form-submit .submit{
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    &:hover{
	    color: #fff;
	    background-color: #31b0d5;
	    border-color: #269abc;
    }
}
p.comment-form-email input,p.comment-form-author input,p.comment-form-url input {
    display: block;
    width: 96%;
    height: 34px;
    padding: 2%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
p.comment-form-comment textarea {
    display: block;
    width: 96%;
    height: auto;
    padding: 2%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

