@charset "utf-8";
.front_flex_box_wrap{
	width: 33.33333%;
	padding: 10px;
    box-sizing: border-box;
}
.front_flex_box {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: auto;
	overflow: hidden;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
}
.front_flex_caption {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	-webkit-transition: .3s;
	transition: .3s;
	opacity: 0;
	color: #fff;
	
	
	h2,p{
		position: absolute;
	left: -100%;
	width: 80%;
	-webkit-transition: .3s;
	transition: .3s;
	}
	h2{
		top: 5%;
		font-size: 1.6rem;
	}
	p{
		top: 45%;
		font-size: 1.2rem;
	}
	
}

.front_flex_box:hover .front_flex_caption{
	opacity: 1;
	color: #fff;
}
.front_flex_box:hover .front_flex_caption h2,
.front_flex_box:hover .front_flex_caption p{
	left: 10%;
}
.front_flex_box:hover .front_flex_caption h2{
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
}
.front_flex_box:hover .front_flex_caption p{
	-webkit-transition-delay: .5s;
	transition-delay: .5s;
}