@charset "utf-8";
.post_panele_image{
	position: relative;
	width: 100%;
	height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: center bottom;
}
.front_header{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	padding: 20px 0;
	background: rgba(255,255,255,0.5);
}
.flex_container{
	display: flex;
	width: 100%;
	overflow: hidden;
	-webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
}