@charset "utf-8";
$nav-base-color: #0085be;
$nav-hover-color: #019fe2;
$nav-line-color: #47c7fd;
.main_nav{
	background: $nav-base-color;
}
.menu{
	*zoom: 1;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	
	&:before,&:after{
		content: "";
		display: table;
	}
	&:after{
		clear: both;
	}
	
	li{
		position: relative;
		width: 20%;
		float: left;
		margin: 0;
		padding: 0;
		text-align: center;
		
		&.current-menu-item a{
			background: $nav-hover-color ;
		}
		
		a{
			display: block;
			margin: 0;
			padding: 15px 0 11px;
			background: $nav-base-color;
			color: #fff;
			font-size: 14px;
			line-height: 1;
			text-decoration: none;
			
			&:hover{
				background: $nav-hover-color;
			}
		}
		ul{
			list-style: none;
			position: absolute;
			z-index: 9999;
			top: 100%;
			left: 0;
			margin: 0;
			padding: 0;
			
			li{
				width: 100%;
				&.current-menu-item a{
					background: $nav-base-color ;
				}
				
				a{
					padding: 13px 15px;
					border-top: 1px solid $nav-line-color;
					background: $nav-hover-color;
					text-align: left;
					&:hover{
						background: $nav-base-color;
					}
				}
			}
		}
		&:hover > a{
			background: $nav-hover-color;
		}
		

	}
}
//アニメーション
.menu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
}
.menu li:hover ul li{
  overflow: visible;
  height: 38px;
}
//画面トップfix
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
