@charset "utf-8";
.content_side{
	
	h3{
		position: relative;
		font-size: 1.6rem;
		padding: 1rem;
		background-color: #82e4fb;
		&:first-letter{
			margin-right: .1rem;
			font-size: 2rem;
			font-weight: 600;
		}
		&:after{
			position: absolute;
			top: 0;
			right: 0;
			content: '';
			width: 0;
			border-width: 0 16px 16px 0;
			border-style: solid;
			border-color: #fff #fff #74cde2 #ddd;
			box-shadow: -1px 1px 2px rgba(0, 0, 0, .1);
		}
	}
	
	ul{
		list-style: none;
		padding: 0;
		li{
			margin-bottom: .5rem;
			a{
				position: relative;
				border: 1px solid #ccc;
				border-radius: 4px;
				display: block;
				padding-left: 2.2rem;
				transition: background .2s;
				&:before{
					position: absolute;
					width: 14px;
					height: 14px;
					color: #70cc85;
				    content: "\f138";
				    font-family: FontAwesome;
				    left: .4rem;
				    top: .3rem;
			    }
			    &:hover{
				    text-decoration: none;
				    background-color: #fffff3;
				    transition: background .2s;
			    }
			}
		}
	}
}